html, body {
    margin: 0;
    padding: 0;
    height:100%;
    width: 100%;
    font-family: 'Mali', cursive;
    color: #4B4553;
}

a:visited, a:link, a:active {
    text-decoration: none;
    color: #4B4553;
}

p { margin: 0;}


/*********************Index.html**************************/
#appName_container {
    font-size: 3em;
}

#navbar, #userNavbar {
    text-align: right;
    padding-top: 0.8em;
    display: none;
}

.navLinks {
    font-size: 2em;
    margin: 0.3em;
    display: inline-block;
}

#userName {
    color: orange;
}

#playdata {
    text-align: center;
}

.playdataHeaders {
    font-size: 1.3em;    
}

#score, #trial {
    font-size: 2em;
    margin: 1em;
}

#hangCatImg_container {
    text-align: center;
}

#hangCatImg {
    margin: auto;
    width: 70%;
}

#curWordField {
    text-align: center;
}

#hint_container {
    text-align: center;
    margin-top : 4em;
}

#hint {
    width: 100%;
    margin: auto;
    font-size: 1.5em;
}

.answerLetterContainers {
    width: 8%;
    margin: 0 0.3em;
    font-size: 3em;
    display: inline-block;
    text-align: center;
    border-bottom: 5px solid black;
}

.answerLetters {
    visibility: hidden;
}

#letters_container {
    width: 100%;
    margin: 2em auto 0 auto;
    text-align: center;
}

.letterBtns {
    width: 9%;
    margin: 0.3em;
}

#buttons_container {
    margin-top: 1em;
    text-align: center;
}

.buttons {
    width: 25%;
    margin: 0.6em;
    font-size: 1.3em;
}

/************Modal Windows*************/

.modalTitles {
    font-size: 1.5em;
}

.inputAlerts {
    font-size: 0.8em;
    color: red;
    visibility: hidden;
}

.signUpInputs, .loginInputs {
    width: 70%;
    margin-bottom: 0.5em;
}

.modalContents {
    text-align: center;
}

.modalBtns {
    width: 25%;
    margin: auto;
}

#restartMessage, #gameoverMessage {
    font-size: 1.5em;
    font-weight: 300;
}

#restartImg, #gameOverImg {
    width: 50%;
}

/*********************rank.html**************************/
#rank_body {
    text-align: center;
}

#rank_summary {
    background-image: url('../images/crown.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 1.5em;
    margin: 1em 0;
    display: none;
}

h1.summaryHeaders {
    color: orange;
    font-weight: bold;
    font-size: 2em;
    margin: 0.3em;
}

.summaryHeaders {
    font-size : 1.3em;
}

#summaryScore, #summaryTrial {
    font-size : 1.3em;
}

#tableField {
    display: none;
}

/*********************Responsive Settings**********************/
/***Tablet (1024px)***/
@media only screen and (max-width: 1024px) {

    /*********************Index.html**************************/
    #navbar, #userNavbar {
        padding-top: 0;
    }
    .navLinks {
        font-size: 1.7em;
        margin: 0.2em;
    }
    
    #hangCatImg {
        width: 55%;
    }

    #hint_container {
        margin-top: 1.5em;
    }

    #hint {
        font-size: 1.7em;
    }

    .letterBtns {
        width: 8.5%;
        margin: 0.3em;
    }

    #buttons_container {
        margin-top: 0.5em;
    }

    .buttons {
        width: 25%;
        margin: 0.5em;
        font-size: 1.3em;
    }

    /************Modal Windows*************/

    #restartImg, #gameOverImg {
        width: 40%;
    }

}

/***Small Device (568px)***/
@media only screen and (max-width: 568px) {
    
    /*********************Index.html**************************/
    #appName_container {
        font-size: 2em;
    }
    
    #navbar, #userNavbar {
         display: none;
    }
    
    .navLinks {
        font-size: 1.3em;
        margin:  0 0.3em;
    }

    #playdata {
        margin : 1em;
    }

    #hint_container {
        margin-top: 1.5em;
    }

    #hint {
        font-size: 1em;
    }

    .answerLetterContainers {
        width: 10%;
        font-size: 1.5em;
    }

    #letters_container {
        margin: 1em 0;
    }

    .letterBtns {
        width: 8.5%;
        margin: 0.2em;
    }

    #buttons_container {
        margin-top: 0;
    }

    .buttons {
        width: 30%;
        margin: 0.6em;
        font-size: 0.8em;
    }

    /************Modal Windows*************/

    .modalTitles {
        font-size: 1em;
    }

    .modalBtns {
        width: 30%;
        font-size: 0.8em;
    }

    #restartMessage, #gameoverMessage {
        font-size: 1em;
    }

    /*********************rank.html**************************/

    #rank_summary {
        margin: 2em 0;
    }

    h1.summaryHeaders {
        font-size: 1.5em;
        margin: 0.6em;
    }

    .summaryHeaders {
        font-size : 1em;
    }

    #summaryScore, #summaryTrial {
        font-size : 1.2em;
    }
}