html, body {
    margin: 0;
    padding: 0;
    height:100%;
    width: 99.4%;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

/*********************Index.html**************************/
#appName_container {
    font-size: 3em;
}

#navbar {
    text-align: right;
    padding-top: 0.8em;
}

.navLinks {
    font-size: 2em;
    margin: 0.5em;
}

#playdata {
    text-align: center;
}

#score, #trial {
    font-size: 2em;
    margin: 1em;
}

#hangCatImg {
    margin: 0 1em 0 4em;
    width: 100%;
    background: red;
}

#curWordField {
    text-align: center;
}

#hint_container {
    text-align: center;
    margin-top : 4em;
}

#hint {
    width: 80%;
    margin: auto;
    font-size: 2em;
}

.answerLetterContainers {
    width: 8%;
    margin: 0 0.3em;
    font-size: 3em;
    display: inline-block;
    text-align: center;
    border-bottom: 5px solid black;
}

#letters_container {
    margin: 2em;
}

.letterBtns {
    width:9%;
    margin: 0.3em;
}

#buttons_container {
    text-align: center;
}

.buttons {
    width: 25%;
    margin: 0.6em;
    font-size: 1.3em;
}

